body
{
  color: white;
  background: yellow;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed darkgreen;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: rgb(53, 22, 230);
}
.emotion_name
{
  font-size: 35px;
}
.emoji
{
  font-size:48px;
}
.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing: 10px;
}
label{
  color: orange;
  font-size: 14px;
  padding: 6px;
  background-color: rgb(19, 50, 226);
  border-radius:10px ;

}